---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Pablo"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Hola! Mi nombre es <span class="text-white text-shadow">Pablo</span>
    </h2>
    <p class="mt-4">
      Soy <span class="text-primary font-semibold">Ingeniero en Software</span> y soy de
      <span class="text-primary font-semibold"
        >Monterrey.</span
      > Actualmente con un enfoque en <span class="text-primary font-semibold"
        >desarrollo en C++</span
      > y
      <span class="text-primary font-semibold">Python</span>,
      tambien uso tecnologías como <span class="text-primary italic"
    >Astro, JavaScript, HTML, CSS, JS,
        Node.js, Linux y Docker.</span
      >.
    </p>
    <p class="mt-2">
      Mi interés por la <span class="text-primary font-semibold"
        >tecnología</span
      > y la
      <span class="text-primary font-semibold">programación</span> surgió desde
      muy chico,
      <span class="text-primary font-semibold"
            >principalmente en casa, viendo videos </span
      > e igualmente tutoriales
      <span class="text-primary font-semibold"> de programacion e informatica</span>.  <span
        class="text-primary font-semibold">sobre programar y reparar equipos.</span
      > tuve mi primer contacto con el mundo de la programación en la preparatoria. Motivado por la
      <span class="text-primary font-semibold">curiosidad</span>, continué
      adentrandome mas a la programacion de manera
      <span class="text-primary font-semibold">autodidacta</span>, luego en la
      <span class="text-primary font-semibold"
        > carrera universitaria de Ingenieria de Desarrollo de Software</span
      > fue donde me di cuenta que esto era lo que queria emprender de manera <span
        class="text-primary font-semibold">profesional</span
      >.
    </p>
    <p class="mt-2">
      Siempre estoy comprometido con un <span class="text-primary font-semibold"
        >constante crecimiento</span
      > y
      <span class="text-primary font-semibold">mejora</span> en mis habilidades,
      buscando adaptarme a los nuevos
      <span class="text-primary font-semibold">avances tecnológicos</span> y superarme
      a nivel
      <span class="text-primary font-semibold">profesional</span> y <span
        class="text-primary font-semibold">personal</span
      >.
    </p>
  </div>
</div>
